In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('HADS1.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43468 entries, 0 to 43467
Data columns (total 21 columns):
StudentID             43468 non-null float64
IQScore               43458 non-null float64
Current Education     43460 non-null object
Exercise              43457 non-null object
Gender                43468 non-null object
Height                43462 non-null float64
Weight                43463 non-null float64
Age                   43454 non-null float64
Peer Pressure         43462 non-null object
Living with Family    43457 non-null object
Past History          43463 non-null object
Smoke                 43463 non-null object
Q1                    43468 non-null int64
Q2                    43468 non-null int64
Q3                    43468 non-null int64
Q4                    43468 non-null int64
Q5                    43468 non-null int64
Q6                    43468 non-null int64
Q7                    43468 non-null int64
HADS                  43468 non-null int64
HADSbin               43468 non-null object
dtypes: float64(5), int64(8), object(8)
memory usage: 7.0+ MB

In [5]:
df = pd.read_csv('HADS1.csv')

In [6]:
df.head()

,StudentID,IQScore,Current Education,Exercise,Gender,Height,Weight,Age,Peer Pressure,Living with Family,...,Smoke,Q1,Q2,Q3,Q4,Q5,Q6,Q7,HADS,HADSbin
0,3144076.0,90.0,G,None,M,5.0,62.0,21.0,Y,N,...,Y,3,3,2,2,3,3,3,19,Abnormal
1,8046964.0,96.0,G,None,M,4.5,69.0,18.0,Y,N,...,Y,3,3,3,2,3,3,2,19,Abnormal
2,7843714.0,112.0,G,None,M,5.2,68.0,20.0,Y,Y,...,Y,3,3,2,3,2,2,3,18,Abnormal
3,4036017.0,98.0,G,None,M,6.2,49.0,19.0,Y,Y,...,Y,3,2,3,3,2,2,3,18,Abnormal
4,9910417.0,104.0,PG,Moderate,F,5.6,77.0,22.0,N,Y,...,N,2,2,1,1,2,0,0,8,Borderline Abnormal

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43468 entries, 0 to 43467
Data columns (total 21 columns):
StudentID             43468 non-null float64
IQScore               43458 non-null float64
Current Education     43460 non-null object
Exercise              43457 non-null object
Gender                43468 non-null object
Height                43462 non-null float64
Weight                43463 non-null float64
Age                   43454 non-null float64
Peer Pressure         43462 non-null object
Living with Family    43457 non-null object
Past History          43463 non-null object
Smoke                 43463 non-null object
Q1                    43468 non-null int64
Q2                    43468 non-null int64
Q3                    43468 non-null int64
Q4                    43468 non-null int64
Q5                    43468 non-null int64
Q6                    43468 non-null int64
Q7                    43468 non-null int64
HADS                  43468 non-null int64
HADSbin               43468 non-null object
dtypes: float64(5), int64(8), object(8)
memory usage: 7.0+ MB

In [8]:
df.drop(['Q1','Q2','Q3','Q4','Q5','Q6','Q7','HADS'],axis = 1,inplace = True)

In [9]:
df.head()

,StudentID,IQScore,Current Education,Exercise,Gender,Height,Weight,Age,Peer Pressure,Living with Family,Past History,Smoke,HADSbin
0,3144076.0,90.0,G,None,M,5.0,62.0,21.0,Y,N,Y,Y,Abnormal
1,8046964.0,96.0,G,None,M,4.5,69.0,18.0,Y,N,Y,Y,Abnormal
2,7843714.0,112.0,G,None,M,5.2,68.0,20.0,Y,Y,Y,Y,Abnormal
3,4036017.0,98.0,G,None,M,6.2,49.0,19.0,Y,Y,Y,Y,Abnormal
4,9910417.0,104.0,PG,Moderate,F,5.6,77.0,22.0,N,Y,Y,N,Borderline Abnormal

In [10]:
df.isna().sum()

StudentID              0
IQScore               10
Current Education      8
Exercise              11
Gender                 0
Height                 6
Weight                 5
Age                   14
Peer Pressure          6
Living with Family    11
Past History           5
Smoke                  5
HADSbin                0
dtype: int64

In [11]:
df.dropna()

,StudentID,IQScore,Current Education,Exercise,Gender,Height,Weight,Age,Peer Pressure,Living with Family,Past History,Smoke,HADSbin
0,3144076.0,90.0,G,None,M,5.0,62.0,21.0,Y,N,Y,Y,Abnormal
1,8046964.0,96.0,G,None,M,4.5,69.0,18.0,Y,N,Y,Y,Abnormal
2,7843714.0,112.0,G,None,M,5.2,68.0,20.0,Y,Y,Y,Y,Abnormal
3,4036017.0,98.0,G,None,M,6.2,49.0,19.0,Y,Y,Y,Y,Abnormal
4,9910417.0,104.0,PG,Moderate,F,5.6,77.0,22.0,N,Y,Y,N,Borderline Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43463,5373529.0,99.0,S,Moderate,F,4.8,55.0,12.0,N,Y,N,N,Normal
43464,3620796.0,89.0,S,Heavy,F,5.5,80.0,13.0,N,Y,Y,N,Normal
43465,6206208.0,94.0,S,Heavy,F,4.9,50.0,14.0,Y,Y,Y,N,Normal
43466,2687773.0,104.0,S,Heavy,F,5.4,77.0,13.0,N,Y,N,N,Normal
43467,3686126.0,102.0,S,Heavy,F,4.5,60.0,14.0,Y,Y,N,N,Normal

In [12]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
43463    False
43464    False
43465    False
43466    False
43467    False
Length: 43468, dtype: bool

In [13]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of        StudentID  IQScore Current Education  Exercise Gender  Height  Weight  \
0      3144076.0     90.0                 G      None      M     5.0    62.0
1      8046964.0     96.0                 G      None      M     4.5    69.0
2      7843714.0    112.0                 G      None      M     5.2    68.0
3      4036017.0     98.0                 G      None      M     6.2    49.0
4      9910417.0    104.0                PG  Moderate      F     5.6    77.0
...          ...      ...               ...       ...    ...     ...     ...
43463  5373529.0     99.0                 S  Moderate      F     4.8    55.0
43464  3620796.0     89.0                 S     Heavy      F     5.5    80.0
43465  6206208.0     94.0                 S     Heavy      F     4.9    50.0
43466  2687773.0    104.0                 S     Heavy      F     5.4    77.0
43467  3686126.0    102.0                 S     Heavy      F     4.5    60.0

        Age Peer Pressure Living with Family Past History Smoke  \
0      21.0             Y                  N            Y     Y
1      18.0             Y                  N            Y     Y
2      20.0             Y                  Y            Y     Y
3      19.0             Y                  Y            Y     Y
4      22.0             N                  Y            Y     N
...     ...           ...                ...          ...   ...
43463  12.0             N                  Y            N     N
43464  13.0             N                  Y            Y     N
43465  14.0             Y                  Y            Y     N
43466  13.0             N                  Y            N     N
43467  14.0             Y                  Y            N     N

                   HADSbin
0                 Abnormal
1                 Abnormal
2                 Abnormal
3                 Abnormal
4      Borderline Abnormal
...                    ...
43463               Normal
43464               Normal
43465               Normal
43466               Normal
43467               Normal

[43468 rows x 13 columns]>

In [14]:
df.head()

,StudentID,IQScore,Current Education,Exercise,Gender,Height,Weight,Age,Peer Pressure,Living with Family,Past History,Smoke,HADSbin
0,3144076.0,90.0,G,None,M,5.0,62.0,21.0,Y,N,Y,Y,Abnormal
1,8046964.0,96.0,G,None,M,4.5,69.0,18.0,Y,N,Y,Y,Abnormal
2,7843714.0,112.0,G,None,M,5.2,68.0,20.0,Y,Y,Y,Y,Abnormal
3,4036017.0,98.0,G,None,M,6.2,49.0,19.0,Y,Y,Y,Y,Abnormal
4,9910417.0,104.0,PG,Moderate,F,5.6,77.0,22.0,N,Y,Y,N,Borderline Abnormal

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43468 entries, 0 to 43467
Data columns (total 13 columns):
StudentID             43468 non-null float64
IQScore               43458 non-null float64
Current Education     43460 non-null object
Exercise              43457 non-null object
Gender                43468 non-null object
Height                43462 non-null float64
Weight                43463 non-null float64
Age                   43454 non-null float64
Peer Pressure         43462 non-null object
Living with Family    43457 non-null object
Past History          43463 non-null object
Smoke                 43463 non-null object
HADSbin               43468 non-null object
dtypes: float64(5), object(8)
memory usage: 4.3+ MB

In [16]:
j = []
for i in df.itertuples(): 
    if(i[3] == 'G'):
        j.append(1)
    elif(i[3] == 'PG'):
        j.append(2)
    else:
        j.append(0)
j

[1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

In [17]:
df['CurEdu'] = j

In [18]:
j = []
for i in df.itertuples(): 
    if(i[4] == 'None'):
        j.append(0)
    elif(i[4] == 'Heavy'):
        j.append(2)
    else:
        j.append(1)
df['ExerciseDone'] = j

In [19]:
j = []
for i in df.itertuples(): 
    if(i[5] == 'M'):
        j.append(1)
    else:
        j.append(0)
df['Sex'] = j

In [20]:
j = []
for i in df.itertuples(): 
    if(i[9] == 'Y'):
        j.append(1)
    else:
        j.append(0)
df['PP'] = j

In [21]:
j = []
for i in df.itertuples(): 
    if(i[10] == 'Y'):
        j.append(1)
    else:
        j.append(0)
df['LF'] = j

In [22]:
j = []
for i in df.itertuples(): 
    if(i[11] == 'Y'):
        j.append(1)
    else:
        j.append(0)
df['PH'] = j

In [23]:
j = []
for i in df.itertuples(): 
    if(i[12] == 'Y'):
        j.append(1)
    else:
        j.append(0)
df['S'] = j

In [24]:
df.head()

,StudentID,IQScore,Current Education,Exercise,Gender,Height,Weight,Age,Peer Pressure,Living with Family,Past History,Smoke,HADSbin,CurEdu,ExerciseDone,Sex,PP,LF,PH,S
0,3144076.0,90.0,G,None,M,5.0,62.0,21.0,Y,N,Y,Y,Abnormal,1,0,1,1,0,1,1
1,8046964.0,96.0,G,None,M,4.5,69.0,18.0,Y,N,Y,Y,Abnormal,1,0,1,1,0,1,1
2,7843714.0,112.0,G,None,M,5.2,68.0,20.0,Y,Y,Y,Y,Abnormal,1,0,1,1,1,1,1
3,4036017.0,98.0,G,None,M,6.2,49.0,19.0,Y,Y,Y,Y,Abnormal,1,0,1,1,1,1,1
4,9910417.0,104.0,PG,Moderate,F,5.6,77.0,22.0,N,Y,Y,N,Borderline Abnormal,2,1,0,0,1,1,0

In [25]:
df['BMI'] = df['Weight']/((0.3048*df['Height'])**2)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43468 entries, 0 to 43467
Data columns (total 21 columns):
StudentID             43468 non-null float64
IQScore               43458 non-null float64
Current Education     43460 non-null object
Exercise              43457 non-null object
Gender                43468 non-null object
Height                43462 non-null float64
Weight                43463 non-null float64
Age                   43454 non-null float64
Peer Pressure         43462 non-null object
Living with Family    43457 non-null object
Past History          43463 non-null object
Smoke                 43463 non-null object
HADSbin               43468 non-null object
CurEdu                43468 non-null int64
ExerciseDone          43468 non-null int64
Sex                   43468 non-null int64
PP                    43468 non-null int64
LF                    43468 non-null int64
PH                    43468 non-null int64
S                     43468 non-null int64
BMI                   43457 non-null float64
dtypes: float64(6), int64(7), object(8)
memory usage: 7.0+ MB

In [27]:
j = []
for i in df.itertuples(): 
    if(i[21]<=16):
        j.append(0)
    elif(i[21]<18.5):
        j.append(1)
    elif(i[21]<25):
        j.append(2)
    elif(i[21]<30):
        j.append(3)
    else:
        j.append(4)
j

[3,
 4,
 3,
 0,
 3,
 2,
 4,
 1,
 4,
 2,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 1,
 1,
 0,
 0,
 2,
 1,
 0,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 1,
 1,
 0,
 1,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 2,
 1,
 2,
 2,
 0,
 2,
 1,
 2,
 0,
 1,
 1,
 2,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 2,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 2,
 1,
 2,
 0,
 0,
 1,
 1,
 2,
 1,
 1,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 2,
 1,
 2,
 0,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 0,
 0,
 1,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 0,
 2,
 0,
 1,
 1,
 1,
 0,
 2,
 1,
 0,
 2,
 0,
 0,
 0,
 1,
 2,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 0,
 2,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 2,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 2,
 0,
 0,
 1,
 2,
 1,
 2,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 2,
 0,
 2,
 0,
 0,
 1,
 1,
 2,
 0,
 1,
 2,
 0,
 0,
 2,
 1,
 0,
 1,
 1,
 0,
 2,
 1,
 1,
 2,
 0,
 0,
 1,
 0,
 2,
 1,
 1,
 1,
 1,
 0,
 2,
 2,
 1,
 1,
 2,
 1,
 2,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 2,
 2,
 1,
 0,
 0,
 0,
 2,
 2,
 1,
 1,
 0,
 2,
 2,
 2,
 2,
 0,
 2,
 1,
 0,
 1,
 2,
 2,
 2,
 1,
 0,
 2,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 2,
 0,
 2,
 1,
 1,
 2,
 2,
 2,
 0,
 1,
 2,
 1,
 0,
 2,
 0,
 1,
 0,
 0,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 1,
 2,
 2,
 0,
 2,
 1,
 0,
 0,
 1,
 1,
 1,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 2,
 1,
 2,
 1,
 1,
 0,
 0,
 2,
 1,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 1,
 2,
 0,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 2,
 0,
 0,
 2,
 1,
 1,
 1,
 2,
 1,
 0,
 2,
 2,
 2,
 1,
 1,
 0,
 2,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 1,
 2,
 2,
 1,
 0,
 1,
 1,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 1,
 1,
 0,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 2,
 1,
 2,
 2,
 1,
 2,
 1,
 2,
 0,
 0,
 2,
 2,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 1,
 0,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 0,
 1,
 2,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 ...]

In [28]:
df.head()

,StudentID,IQScore,Current Education,Exercise,Gender,Height,Weight,Age,Peer Pressure,Living with Family,...,Smoke,HADSbin,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMI
0,3144076.0,90.0,G,None,M,5.0,62.0,21.0,Y,N,...,Y,Abnormal,1,0,1,1,0,1,1,26.694498
1,8046964.0,96.0,G,None,M,4.5,69.0,18.0,Y,N,...,Y,Abnormal,1,0,1,1,0,1,1,36.677028
2,7843714.0,112.0,G,None,M,5.2,68.0,20.0,Y,Y,...,Y,Abnormal,1,0,1,1,1,1,1,27.069005
3,4036017.0,98.0,G,None,M,6.2,49.0,19.0,Y,Y,...,Y,Abnormal,1,0,1,1,1,1,1,13.720906
4,9910417.0,104.0,PG,Moderate,F,5.6,77.0,22.0,N,Y,...,N,Borderline Abnormal,2,1,0,0,1,1,0,26.429244

In [29]:
df['BMIbin'] = j

In [30]:
df.head()

,StudentID,IQScore,Current Education,Exercise,Gender,Height,Weight,Age,Peer Pressure,Living with Family,...,HADSbin,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMI,BMIbin
0,3144076.0,90.0,G,None,M,5.0,62.0,21.0,Y,N,...,Abnormal,1,0,1,1,0,1,1,26.694498,3
1,8046964.0,96.0,G,None,M,4.5,69.0,18.0,Y,N,...,Abnormal,1,0,1,1,0,1,1,36.677028,4
2,7843714.0,112.0,G,None,M,5.2,68.0,20.0,Y,Y,...,Abnormal,1,0,1,1,1,1,1,27.069005,3
3,4036017.0,98.0,G,None,M,6.2,49.0,19.0,Y,Y,...,Abnormal,1,0,1,1,1,1,1,13.720906,0
4,9910417.0,104.0,PG,Moderate,F,5.6,77.0,22.0,N,Y,...,Borderline Abnormal,2,1,0,0,1,1,0,26.429244,3

In [31]:
df.drop(['BMI'],axis = 1,inplace=True)

In [32]:
df.head()

,StudentID,IQScore,Current Education,Exercise,Gender,Height,Weight,Age,Peer Pressure,Living with Family,...,Smoke,HADSbin,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin
0,3144076.0,90.0,G,None,M,5.0,62.0,21.0,Y,N,...,Y,Abnormal,1,0,1,1,0,1,1,3
1,8046964.0,96.0,G,None,M,4.5,69.0,18.0,Y,N,...,Y,Abnormal,1,0,1,1,0,1,1,4
2,7843714.0,112.0,G,None,M,5.2,68.0,20.0,Y,Y,...,Y,Abnormal,1,0,1,1,1,1,1,3
3,4036017.0,98.0,G,None,M,6.2,49.0,19.0,Y,Y,...,Y,Abnormal,1,0,1,1,1,1,1,0
4,9910417.0,104.0,PG,Moderate,F,5.6,77.0,22.0,N,Y,...,N,Borderline Abnormal,2,1,0,0,1,1,0,3

In [33]:
df.drop(['Current Education','Exercise','Gender','Peer Pressure','Living with Family','Past History','Smoke'],axis = 1,inplace = True)

In [34]:
df.head()

,StudentID,IQScore,Height,Weight,Age,HADSbin,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin
0,3144076.0,90.0,5.0,62.0,21.0,Abnormal,1,0,1,1,0,1,1,3
1,8046964.0,96.0,4.5,69.0,18.0,Abnormal,1,0,1,1,0,1,1,4
2,7843714.0,112.0,5.2,68.0,20.0,Abnormal,1,0,1,1,1,1,1,3
3,4036017.0,98.0,6.2,49.0,19.0,Abnormal,1,0,1,1,1,1,1,0
4,9910417.0,104.0,5.6,77.0,22.0,Borderline Abnormal,2,1,0,0,1,1,0,3

In [35]:
j = []
for i in df.itertuples(): 
    if((i[8]== 1 or i[8]== 2) and i[13] == 0 and (i[14]== 3 or i[14]== 1 or i[14]== 2) ):
        j.append(1)
    else:
        j.append(0)

In [36]:
j

[0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [37]:
df['isHealthy'] = j

In [38]:
df.head()

,StudentID,IQScore,Height,Weight,Age,HADSbin,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin,isHealthy
0,3144076.0,90.0,5.0,62.0,21.0,Abnormal,1,0,1,1,0,1,1,3,0
1,8046964.0,96.0,4.5,69.0,18.0,Abnormal,1,0,1,1,0,1,1,4,0
2,7843714.0,112.0,5.2,68.0,20.0,Abnormal,1,0,1,1,1,1,1,3,0
3,4036017.0,98.0,6.2,49.0,19.0,Abnormal,1,0,1,1,1,1,1,0,0
4,9910417.0,104.0,5.6,77.0,22.0,Borderline Abnormal,2,1,0,0,1,1,0,3,1

In [39]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [40]:
df.isna().sum()

StudentID        0
IQScore         10
Height           6
Weight           5
Age             14
HADSbin          0
CurEdu           0
ExerciseDone     0
Sex              0
PP               0
LF               0
PH               0
S                0
BMIbin           0
isHealthy        0
dtype: int64

In [41]:
df.dropna(inplace=True)

In [42]:
df.isna().sum()

StudentID       0
IQScore         0
Height          0
Weight          0
Age             0
HADSbin         0
CurEdu          0
ExerciseDone    0
Sex             0
PP              0
LF              0
PH              0
S               0
BMIbin          0
isHealthy       0
dtype: int64

In [43]:
df.count()

StudentID       43438
IQScore         43438
Height          43438
Weight          43438
Age             43438
HADSbin         43438
CurEdu          43438
ExerciseDone    43438
Sex             43438
PP              43438
LF              43438
PH              43438
S               43438
BMIbin          43438
isHealthy       43438
dtype: int64

In [44]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
43463    False
43464    False
43465    False
43466    False
43467    False
Length: 43438, dtype: bool

In [45]:
df.drop_duplicates()

,StudentID,IQScore,Height,Weight,Age,HADSbin,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin,isHealthy
0,3144076.0,90.0,5.0,62.0,21.0,Abnormal,1,0,1,1,0,1,1,3,0
1,8046964.0,96.0,4.5,69.0,18.0,Abnormal,1,0,1,1,0,1,1,4,0
2,7843714.0,112.0,5.2,68.0,20.0,Abnormal,1,0,1,1,1,1,1,3,0
3,4036017.0,98.0,6.2,49.0,19.0,Abnormal,1,0,1,1,1,1,1,0,0
4,9910417.0,104.0,5.6,77.0,22.0,Borderline Abnormal,2,1,0,0,1,1,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43463,5373529.0,99.0,4.8,55.0,12.0,Normal,0,1,0,0,1,0,0,3,1
43464,3620796.0,89.0,5.5,80.0,13.0,Normal,0,2,0,0,1,1,0,3,1
43465,6206208.0,94.0,4.9,50.0,14.0,Normal,0,2,0,1,1,1,0,2,1
43466,2687773.0,104.0,5.4,77.0,13.0,Normal,0,2,0,0,1,0,0,3,1
43467,3686126.0,102.0,4.5,60.0,14.0,Normal,0,2,0,1,1,0,0,4,0

In [46]:
df.drop(['StudentID'],axis = 1,inplace = True)

In [47]:
df.head()

,IQScore,Height,Weight,Age,HADSbin,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin,isHealthy
0,90.0,5.0,62.0,21.0,Abnormal,1,0,1,1,0,1,1,3,0
1,96.0,4.5,69.0,18.0,Abnormal,1,0,1,1,0,1,1,4,0
2,112.0,5.2,68.0,20.0,Abnormal,1,0,1,1,1,1,1,3,0
3,98.0,6.2,49.0,19.0,Abnormal,1,0,1,1,1,1,1,0,0
4,104.0,5.6,77.0,22.0,Borderline Abnormal,2,1,0,0,1,1,0,3,1

In [93]:
scaler = StandardScaler()
df1 = scaler.fit_transform(df.drop(['HADSbin'],axis = 1))

In [95]:
df1 = pd.DataFrame(df1)

In [96]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-1.363646,-0.576701,0.115066,0.063909,-0.291012,-0.918783,0.942835,0.898990,-1.427304,0.738435,0.988600,0.579579,-0.608332
1,-0.660853,-1.676257,0.668543,-0.513479,-0.291012,-0.918783,0.942835,0.898990,-1.427304,0.738435,0.988600,1.412798,-0.608332
2,1.213260,-0.136879,0.589475,-0.128554,-0.291012,-0.918783,0.942835,0.898990,0.700621,0.738435,0.988600,0.579579,-0.608332
3,-0.426589,2.062233,-0.912821,-0.321016,-0.291012,-0.918783,0.942835,0.898990,0.700621,0.738435,0.988600,-1.920081,-0.608332
4,0.276203,0.742766,1.301088,0.256372,0.948664,0.264124,-1.060631,-1.112359,0.700621,0.738435,-1.011531,0.579579,1.643839

In [97]:
df.columns

Index(['IQScore', 'Height', 'Weight', 'Age', 'HADSbin', 'CurEdu',
       'ExerciseDone', 'Sex', 'PP', 'LF', 'PH', 'S', 'BMIbin', 'isHealthy'],
      dtype='object')

In [98]:
df1.columns = ['IQScore', 'Height', 'Weight', 'Age', 'CurEdu',
       'ExerciseDone', 'Sex', 'PP', 'LF', 'PH', 'S', 'BMIbin', 'isHealthy']

In [99]:
df1.head()

,IQScore,Height,Weight,Age,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin,isHealthy
0,-1.363646,-0.576701,0.115066,0.063909,-0.291012,-0.918783,0.942835,0.898990,-1.427304,0.738435,0.988600,0.579579,-0.608332
1,-0.660853,-1.676257,0.668543,-0.513479,-0.291012,-0.918783,0.942835,0.898990,-1.427304,0.738435,0.988600,1.412798,-0.608332
2,1.213260,-0.136879,0.589475,-0.128554,-0.291012,-0.918783,0.942835,0.898990,0.700621,0.738435,0.988600,0.579579,-0.608332
3,-0.426589,2.062233,-0.912821,-0.321016,-0.291012,-0.918783,0.942835,0.898990,0.700621,0.738435,0.988600,-1.920081,-0.608332
4,0.276203,0.742766,1.301088,0.256372,0.948664,0.264124,-1.060631,-1.112359,0.700621,0.738435,-1.011531,0.579579,1.643839

In [100]:
df1['HADSbin'] = df['HADSbin']

In [101]:
df1.head()

,IQScore,Height,Weight,Age,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin,isHealthy,HADSbin
0,-1.363646,-0.576701,0.115066,0.063909,-0.291012,-0.918783,0.942835,0.898990,-1.427304,0.738435,0.988600,0.579579,-0.608332,Abnormal
1,-0.660853,-1.676257,0.668543,-0.513479,-0.291012,-0.918783,0.942835,0.898990,-1.427304,0.738435,0.988600,1.412798,-0.608332,Abnormal
2,1.213260,-0.136879,0.589475,-0.128554,-0.291012,-0.918783,0.942835,0.898990,0.700621,0.738435,0.988600,0.579579,-0.608332,Abnormal
3,-0.426589,2.062233,-0.912821,-0.321016,-0.291012,-0.918783,0.942835,0.898990,0.700621,0.738435,0.988600,-1.920081,-0.608332,Abnormal
4,0.276203,0.742766,1.301088,0.256372,0.948664,0.264124,-1.060631,-1.112359,0.700621,0.738435,-1.011531,0.579579,1.643839,Borderline Abnormal

In [104]:
j = []
for i in df1.itertuples(): 
    if(i[14] == 'Abnormal'):
        j.append('No')
    elif(i[14] == 'Normal'):
        j.append('Yes')
    else:
        j.append('Maybe')
j

['No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Maybe',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'Maybe',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Maybe',
 'No',
 'No',
 'No',
 'Maybe',
 ...]

In [105]:
df1['Suicide Possibility'] = j

In [106]:
df1.head()

,IQScore,Height,Weight,Age,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin,isHealthy,HADSbin,Suicide Possibility
0,-1.363646,-0.576701,0.115066,0.063909,-0.291012,-0.918783,0.942835,0.898990,-1.427304,0.738435,0.988600,0.579579,-0.608332,Abnormal,No
1,-0.660853,-1.676257,0.668543,-0.513479,-0.291012,-0.918783,0.942835,0.898990,-1.427304,0.738435,0.988600,1.412798,-0.608332,Abnormal,No
2,1.213260,-0.136879,0.589475,-0.128554,-0.291012,-0.918783,0.942835,0.898990,0.700621,0.738435,0.988600,0.579579,-0.608332,Abnormal,No
3,-0.426589,2.062233,-0.912821,-0.321016,-0.291012,-0.918783,0.942835,0.898990,0.700621,0.738435,0.988600,-1.920081,-0.608332,Abnormal,No
4,0.276203,0.742766,1.301088,0.256372,0.948664,0.264124,-1.060631,-1.112359,0.700621,0.738435,-1.011531,0.579579,1.643839,Borderline Abnormal,Maybe

In [107]:
df1.drop(['HADSbin'],axis = 1,inplace=True)

In [108]:
df1.head()

,IQScore,Height,Weight,Age,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin,isHealthy,Suicide Possibility
0,-1.363646,-0.576701,0.115066,0.063909,-0.291012,-0.918783,0.942835,0.898990,-1.427304,0.738435,0.988600,0.579579,-0.608332,No
1,-0.660853,-1.676257,0.668543,-0.513479,-0.291012,-0.918783,0.942835,0.898990,-1.427304,0.738435,0.988600,1.412798,-0.608332,No
2,1.213260,-0.136879,0.589475,-0.128554,-0.291012,-0.918783,0.942835,0.898990,0.700621,0.738435,0.988600,0.579579,-0.608332,No
3,-0.426589,2.062233,-0.912821,-0.321016,-0.291012,-0.918783,0.942835,0.898990,0.700621,0.738435,0.988600,-1.920081,-0.608332,No
4,0.276203,0.742766,1.301088,0.256372,0.948664,0.264124,-1.060631,-1.112359,0.700621,0.738435,-1.011531,0.579579,1.643839,Maybe

In [109]:
X = df1.drop(['Suicide Possibility'],axis = 1)
y = df1['Suicide Possibility']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [110]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
print('Accuracy: ',accuracy_score(y_test, y_predict))

Accuracy:  0.7377532228360958

In [111]:
model = ExtraTreesClassifier()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
print('Accuracy: ',accuracy_score(y_test, y_predict))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Accuracy:  0.7375690607734806

In [112]:
model = GaussianNB()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
print('Accuracy: ',accuracy_score(y_test, y_predict))

Accuracy:  0.5931860036832413

In [113]:
model = KNeighborsClassifier()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
print('Accuracy: ',accuracy_score(y_test, y_predict))

Accuracy:  0.6869244935543278

In [114]:
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
print('Accuracy: ',accuracy_score(y_test, y_predict))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Accuracy:  0.7355432780847145

In [115]:
df1.head()

,IQScore,Height,Weight,Age,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin,isHealthy,Suicide Possibility
0,-1.363646,-0.576701,0.115066,0.063909,-0.291012,-0.918783,0.942835,0.898990,-1.427304,0.738435,0.988600,0.579579,-0.608332,No
1,-0.660853,-1.676257,0.668543,-0.513479,-0.291012,-0.918783,0.942835,0.898990,-1.427304,0.738435,0.988600,1.412798,-0.608332,No
2,1.213260,-0.136879,0.589475,-0.128554,-0.291012,-0.918783,0.942835,0.898990,0.700621,0.738435,0.988600,0.579579,-0.608332,No
3,-0.426589,2.062233,-0.912821,-0.321016,-0.291012,-0.918783,0.942835,0.898990,0.700621,0.738435,0.988600,-1.920081,-0.608332,No
4,0.276203,0.742766,1.301088,0.256372,0.948664,0.264124,-1.060631,-1.112359,0.700621,0.738435,-1.011531,0.579579,1.643839,Maybe

In [116]:
df1.to_csv('vinal.csv')

In [117]:
df.head()

,IQScore,Height,Weight,Age,HADSbin,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin,isHealthy
0,90.0,5.0,62.0,21.0,Abnormal,1,0,1,1,0,1,1,3,0
1,96.0,4.5,69.0,18.0,Abnormal,1,0,1,1,0,1,1,4,0
2,112.0,5.2,68.0,20.0,Abnormal,1,0,1,1,1,1,1,3,0
3,98.0,6.2,49.0,19.0,Abnormal,1,0,1,1,1,1,1,0,0
4,104.0,5.6,77.0,22.0,Borderline Abnormal,2,1,0,0,1,1,0,3,1

In [141]:
scaler = StandardScaler()
df2 = scaler.fit_transform(df.drop(['HADSbin','CurEdu','ExerciseDone','Sex','PP','LF','PH','S','BMIbin','isHealthy'],axis=1))

In [143]:
df2 = pd.DataFrame(df2)

In [144]:
df2.isna().sum()

0    0
1    0
2    0
3    0
dtype: int64

In [147]:
df2.shape

(43438, 5)

In [149]:
df.shape

(43438, 14)

In [150]:
df1.shape

(43438, 14)

In [151]:
df1.isna().sum()

IQScore                0
Height                 0
Weight                 0
Age                    0
CurEdu                 0
ExerciseDone           0
Sex                    0
PP                     0
LF                     0
PH                     0
S                      0
BMIbin                 0
isHealthy              0
Suicide Possibility    0
dtype: int64

In [152]:
df.head()

,IQScore,Height,Weight,Age,HADSbin,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin,isHealthy
0,90.0,5.0,62.0,21.0,Abnormal,1,0,1,1,0,1,1,3,0
1,96.0,4.5,69.0,18.0,Abnormal,1,0,1,1,0,1,1,4,0
2,112.0,5.2,68.0,20.0,Abnormal,1,0,1,1,1,1,1,3,0
3,98.0,6.2,49.0,19.0,Abnormal,1,0,1,1,1,1,1,0,0
4,104.0,5.6,77.0,22.0,Borderline Abnormal,2,1,0,0,1,1,0,3,1

In [153]:
df.shape

(43438, 14)

In [154]:
df2.head()

          0         1         2         3  CurEdu
0 -1.363646 -0.576701  0.115066  0.063909     1.0
1 -0.660853 -1.676257  0.668543 -0.513479     1.0
2  1.213260 -0.136879  0.589475 -0.128554     1.0
3 -0.426589  2.062233 -0.912821 -0.321016     1.0
4  0.276203  0.742766  1.301088  0.256372     2.0

In [155]:
df2.drop(['CurEdu'],axis = 1,inplace=True)

In [156]:
df2.shape

(43438, 4)

In [157]:
df2.head()

          0         1         2         3
0 -1.363646 -0.576701  0.115066  0.063909
1 -0.660853 -1.676257  0.668543 -0.513479
2  1.213260 -0.136879  0.589475 -0.128554
3 -0.426589  2.062233 -0.912821 -0.321016
4  0.276203  0.742766  1.301088  0.256372

In [158]:
df2['CurEdu'] = df['CurEdu']

In [159]:
df2.isna().sum()

0          0
1          0
2          0
3          0
CurEdu    25
dtype: int64

In [161]:
df2

              0         1         2         3  CurEdu
0     -1.363646 -0.576701  0.115066  0.063909     1.0
1     -0.660853 -1.676257  0.668543 -0.513479     1.0
2      1.213260 -0.136879  0.589475 -0.128554     1.0
3     -0.426589  2.062233 -0.912821 -0.321016     1.0
4      0.276203  0.742766  1.301088  0.256372     2.0
...         ...       ...       ...       ...     ...
43433 -0.309457 -1.016523 -0.438412 -1.668255     0.0
43434 -1.480778  0.522855  1.538293 -1.475792     0.0
43435 -0.895117 -0.796612 -0.833753 -1.283330     0.0
43436  0.276203  0.302944  1.301088 -1.475792     0.0
43437  0.041939 -1.676257 -0.043071 -1.283330     0.0

[43438 rows x 5 columns]

In [162]:
df

,IQScore,Height,Weight,Age,HADSbin,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin,isHealthy
0,90.0,5.0,62.0,21.0,Abnormal,1,0,1,1,0,1,1,3,0
1,96.0,4.5,69.0,18.0,Abnormal,1,0,1,1,0,1,1,4,0
2,112.0,5.2,68.0,20.0,Abnormal,1,0,1,1,1,1,1,3,0
3,98.0,6.2,49.0,19.0,Abnormal,1,0,1,1,1,1,1,0,0
4,104.0,5.6,77.0,22.0,Borderline Abnormal,2,1,0,0,1,1,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43463,99.0,4.8,55.0,12.0,Normal,0,1,0,0,1,0,0,3,1
43464,89.0,5.5,80.0,13.0,Normal,0,2,0,0,1,1,0,3,1
43465,94.0,4.9,50.0,14.0,Normal,0,2,0,1,1,1,0,2,1
43466,104.0,5.4,77.0,13.0,Normal,0,2,0,0,1,0,0,3,1
43467,102.0,4.5,60.0,14.0,Normal,0,2,0,1,1,0,0,4,0

In [163]:
df.isna().sum()

IQScore         0
Height          0
Weight          0
Age             0
HADSbin         0
CurEdu          0
ExerciseDone    0
Sex             0
PP              0
LF              0
PH              0
S               0
BMIbin          0
isHealthy       0
dtype: int64

In [164]:
dfx = df[['IQScore','Height','Weight','Age']]

In [165]:
dfx

       IQScore  Height  Weight   Age
0         90.0     5.0    62.0  21.0
1         96.0     4.5    69.0  18.0
2        112.0     5.2    68.0  20.0
3         98.0     6.2    49.0  19.0
4        104.0     5.6    77.0  22.0
...        ...     ...     ...   ...
43463     99.0     4.8    55.0  12.0
43464     89.0     5.5    80.0  13.0
43465     94.0     4.9    50.0  14.0
43466    104.0     5.4    77.0  13.0
43467    102.0     4.5    60.0  14.0

[43438 rows x 4 columns]

In [167]:
scaler = StandardScaler()
dfx1 = scaler.fit_transform(dfx)

In [168]:
dfx1.shape

(43438, 4)

In [169]:
dfx1

array([[-1.36364581, -0.5767011 ,  0.11506552,  0.06390906],
       [-0.6608533 , -1.67625702,  0.66854277, -0.51347902],
       [ 1.21326005, -0.13687874,  0.58947459, -0.12855363],
       ...,
       [-0.89511747, -0.79661229, -0.83375263, -1.2833298 ],
       [ 0.27620338,  0.30294363,  1.3010882 , -1.4757925 ],
       [ 0.04193921, -1.67625702, -0.04307084, -1.2833298 ]])

In [170]:
dfx1 = pd.DataFrame(dfx1)

In [171]:
dfx1

              0         1         2         3
0     -1.363646 -0.576701  0.115066  0.063909
1     -0.660853 -1.676257  0.668543 -0.513479
2      1.213260 -0.136879  0.589475 -0.128554
3     -0.426589  2.062233 -0.912821 -0.321016
4      0.276203  0.742766  1.301088  0.256372
...         ...       ...       ...       ...
43433 -0.309457 -1.016523 -0.438412 -1.668255
43434 -1.480778  0.522855  1.538293 -1.475792
43435 -0.895117 -0.796612 -0.833753 -1.283330
43436  0.276203  0.302944  1.301088 -1.475792
43437  0.041939 -1.676257 -0.043071 -1.283330

[43438 rows x 4 columns]

In [1]:
dfx['ExerciseDone'] = df['ExerciseDone']

NameError: name 'df' is not defined

In [48]:
df.head()

,IQScore,Height,Weight,Age,HADSbin,CurEdu,ExerciseDone,Sex,PP,LF,PH,S,BMIbin,isHealthy
0,90.0,5.0,62.0,21.0,Abnormal,1,0,1,1,0,1,1,3,0
1,96.0,4.5,69.0,18.0,Abnormal,1,0,1,1,0,1,1,4,0
2,112.0,5.2,68.0,20.0,Abnormal,1,0,1,1,1,1,1,3,0
3,98.0,6.2,49.0,19.0,Abnormal,1,0,1,1,1,1,1,0,0
4,104.0,5.6,77.0,22.0,Borderline Abnormal,2,1,0,0,1,1,0,3,1

In [49]:
df.to_csv('vinal_main.csv')

In [54]:
scaler = StandardScaler()
df2 = scaler.fit_transform(df[['IQScore','Height','Weight','Age']])

In [55]:
df2= pd.DataFrame(df2)

In [56]:
df2

              0         1         2         3
0     -1.363646 -0.576701  0.115066  0.063909
1     -0.660853 -1.676257  0.668543 -0.513479
2      1.213260 -0.136879  0.589475 -0.128554
3     -0.426589  2.062233 -0.912821 -0.321016
4      0.276203  0.742766  1.301088  0.256372
...         ...       ...       ...       ...
43433 -0.309457 -1.016523 -0.438412 -1.668255
43434 -1.480778  0.522855  1.538293 -1.475792
43435 -0.895117 -0.796612 -0.833753 -1.283330
43436  0.276203  0.302944  1.301088 -1.475792
43437  0.041939 -1.676257 -0.043071 -1.283330

[43438 rows x 4 columns]

In [59]:
df2['ExerciseDone'] = df['ExerciseDone']

In [60]:
df2.isna().sum()

0                0
1                0
2                0
3                0
CurEdu          25
ExerciseDone    25
dtype: int64